
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutPageAboutUs.cshtml";
}

<br />
<br />

<div class="about-section">
    <h1>We are Dawai Dukaan</h1>
    <p>Medicines hassle-free, safe and swift right at your doosrstep.</p>
</div>
<br />
<h2 style="text-align:center">Meet Our Team</h2>
<br />
<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/Images/hashirama.jpg" alt="Jane" style="width:100%">
            <div class="container">
                <br />
                <h2>Hashirama Senju</h2>
                <p class="title">God of Shinobi</p>
                <p class="title">First Hokage</p>
                <p>Founded Konoha, Gifted tailed-beasts like birthday presents</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/Images/madara1.jpg" alt="Mike" style="width:100%">
            <div class="container">
                <br />
                <h2>Madara Uchiha</h2>
                <p class="title">Ghost of Uchiha</p>
                <p class="title">10-tails Jinchuriki</p>
                <p>Had trouble dying, Casted Infinite Tsukuyomi upon the world</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/Images/tsunade.jpg" alt="Mike" style="width:100%">
            <div class="container">
                <br />
                <h2>Tsunade Senju</h2>
                <p class="title">"106"</p>
                <p class="title">Fifth Hokage</p>
                <p>Mastered Hundred healings jutsu, Drunk, Gambling-Addict</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>