
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPagehome.cshtml";
}


<div class="aim-text">
    <h1 class="fw-bold" style="font-family:Dubai">"YOUR HEALTH, OUR CONCERN" </h1>
    <br />
    <h4 class="fw-light" style="font-family:Arial; margin-left:10px;"> We at Dawai Dukaan take pride in having best quality medicines delivered to you at your home swiftly and safely.</h4>
</div>
