@*@model AppUILayer.Models.Address*@
@{
    ViewBag.Title = "Address";
    Layout = "~/Views/User/Shared/_LayoutPageUser.cshtml";
}

<div class="has-bg-img">
    <img class="bg-img img-fluid" src="~/Images/home.jpg" alt="...">
</div>
<div class="bg-text" style="overflow-x:auto;">
    <br />
    @using (Html.BeginForm("Address", "User", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-8 mb-4">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Shipping Address</h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <br />
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" id="form7Example1" class="form-control" />
                                        <label class="form-label" for="form7Example1">First name</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" id="form7Example2" class="form-control" />
                                        <label class="form-label" for="form7Example2">Last name</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Text input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="form7Example3" class="form-control" />
                                <label class="form-label" for="form7Example3">Address Line</label>
                            </div>

                            <!-- Text input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="form7Example4" class="form-control" />
                                <label class="form-label" for="form7Example4">State</label>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="form7Example5" class="form-control" />
                                <label class="form-label" for="form7Example5">Country</label>
                            </div>

                            <!-- Number input -->
                            <div class="form-outline mb-4">
                                <input type="number" id="form7Example6" class="form-control" />
                                <label class="form-label" for="form7Example6">Phone</label>
                            </div>

                            <!-- Message input -->
                            <div class="form-outline mb-4">
                                <textarea class="form-control" id="form7Example7" rows="4"></textarea>
                                <label class="form-label" for="form7Example7">Additional information</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4" style="padding-right:3vw;">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Summary</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                Products
                                <span> <i class="fas fa-rupee-sign d-inline"></i> @ViewBag.amount</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Shipping
                                <span>Free</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>Total amount</strong>
                                    <strong>
                                        <p class="mb-0">(including GST)</p>
                                    </strong>
                                </div>
                                <span><strong><i class="fas fa-rupee-sign d-inline"></i>@ViewBag.amounttax</strong></span>
                            </li>
                        </ul>
                        <div>
                            <input type="submit" value="Save" class="btn btn-primary btn-lg btn-block"  style="float:right;font-family:'Copperplate Gothic'"/>
                        </div>
                        @*<span style="float:right;font-family:'Copperplate Gothic'"> @Html.ActionLink("Make Purchase", "Payment", "User", new { @class = "btn btn-primary btn-lg btn-block" })</span>*@
                    </div>
                </div>
            </div>
        </div>
    }
    </div>