
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/User/Shared/_LayoutPageUser.cshtml";
}

<div class="has-bg-img">
    <img class="bg-img img-fluid" src="~/Images/home.jpg" alt="...">
</div>
<div class="bg-text" style="overflow-x:auto;">


    <div class="col-lg-6 mx-auto">
        <div class="card ">
            <div class="card-header">
                <div class="tab-content">
                    <!-- credit card info-->
                    <div id="credit-card" class="tab-pane fade show active pt-3">
                        <form role="form" onsubmit="event.preventDefault()">
                            <div class="form-group">
                                <label for="username">
                                    <h6>Card Owner</h6>
                                </label> <input type="text" name="username" placeholder="Card Owner Name" required class="form-control ">
                            </div>
                            <div class="form-group">
                                <label for="cardNumber">
                                    <h6>Card number</h6>
                                </label>
                                <div class="input-group">
                                    <input type="text" name="cardNumber" placeholder="Valid card number" class="form-control " required>
                                    <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="fab fa-cc-visa mx-1"></i> <i class="fab fa-cc-mastercard mx-1"></i> <i class="fab fa-cc-amex mx-1"></i> </span> </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>
                                            <span class="hidden-xs">
                                                <h6>Expiration Date</h6>
                                            </span>
                                        </label>
                                        <div class="input-group"> <input type="number" placeholder="MM" name="" class="form-control" required> <input type="number" placeholder="YY" name="" class="form-control" required> </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group mb-4">
                                        <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                            <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                        </label> <input type="text" required class="form-control">
                                    </div>
                                </div>
                            </div>
                            <h4 >
                                <span style="font-family:Impact; color:darkgreen">Total Amount :  <i class="fas fa-rupee-sign d-inline"></i> @ViewBag.amounttax</span>
                                <span style="float:right;font-family:'Copperplate Gothic'"> @Html.ActionLink("Pay", "Checkout", "User", new { @class = "btn btn-success  btn-lg" })</span>
                            </h4>
                            </form>
                    </div>
                </div> <!-- End -->
            </div>
        </div>
    </div>
</div>


